<% provide :title, "Wszystkie przedmioty" %>

<section class="admin-panel subject-index">
  <h1>Wszystkie przedmioty</h1>

  <div>
    <%= link_to "Nowy przedmiot", new_admin_subject_path, 
        class: "button button-primary" %>
  </div>

  <table>
    <thead>
      <tr>Nazwa</tr>
      <tr>Ilość lekcji</tr>
      <tr>Data dodania</tr>
      <tr>Popularność</tr>
      <tr>Akcje</tr>
    </thead>
    <tbody>
      <%= render @subjects %>
    </tbody>
  </table>
</section>