<section id="splash">

	<div class = "container">
		<h1>Witamy<br />w platformie ePUEPS</h1>

		<%= link_to "Zobacz kursy", '#', class: "button button-secondary" %>
		<%= link_to "Zaloguj się", '#', class: "button button-primary" %>

	</div>
</section>
