<tr>
  <td><%= lesson.name %></td>
  <!-- TODO: Optimize this(Too many queries) -->
  <td><%= lesson.videos.count %></td>
  <td><%= lesson.created_at %></td>
  <td>
    <!-- TODO: Add confirmation -->
  </td>
</tr>