<% provide :title, "Edycja - #{@lesson}" %>

<section class="admin-panel">
  <h2><%= link_to @subject %></h2>
  <h1>Edycja - <%= @lesson %></h1>

  <div id="edit-lesson-form">
    <%= render 'admin/lessons/lesson_form' %>
  </div>
</section>