<% provide :title, "Nowa lekcja" %>

<section class="admin-panel">

  <h2><%= link_to @subject %></h2>
  <h1 class = "center">Nowa lekcja</h1>

  <div id = "new-lesson-form">
    <%= render 'admin/lessons/lesson_form' %>
  </div>
</div>
