<% provide :title, "Wszyscy użytkownicy" %>

<h1>Wszyscy użytkownicy</h1>

<table>
  <tr>
    <td>Email</td>
    <td>Ostatnio zalogowany</td>
    <td>IP logowania</td>
    <td>Administrator</td>
  </tr>
  <%= render @users %>
</table>
  