<!-- TODO: Add video duration -->

<li>
<%= link_to video.name, subject_path(video.lesson.subject, params: 
    {video_id: video.id}), remote: true %>

<% if video.signed_in_only? && !user_signed_in? %>
   (tylko dla zalogowanych)
<% end %>
</li>