<!-- TODO: Add video duration -->

<% unless video.signed_in_only? %>
<li>
<%= link_to video.name, subject_path(video.lesson.subject, params: 
    {video_id: video.id}), remote: true%>
</li>
<% end %>