<article class="subject">
	 <h2><%= link_to subject.name, subject_path(subject) %></h2> 
	<%= image_tag subject.image_src %>
	<section class = "description">
		<!-- TODO: Move this to subject_description helper -->
		<%= truncate 	sanitize(subject.description), 
									length: 200,
									separatior: ' '  %>
	</section>	

	<%= link_to "Zobacz kurs", subject_info_path(subject), class: "button button-primary", id: "subject-#{subject.id}" %>
</article>
