<% provide :title, "Wszystkie kursy" %>

<div class = "subject-index">

	<h1 class = "center">Wszystkie kursy</h1>

	<div class="subject-scope-options">
	<!-- TODO: Move to helper and disable active option -->
		<%= link_to "Popularne", 
								subjects_path(params: {order: "popular"}), 
								remote: true,
								id: "scope-popular",
								class: (@scope == "popular" ? "active" : nil)
								%> / 
		<%= link_to "Najnowsze", 
								subjects_path(params: {order: "recent"}), 
								remote: true,
								id: "scope-recent",
								class: (@scope == "recent" ? "active" : nil)
								%>
	</div>

	<div class = "subject-catalog">
		<%= render @subjects %>
	</div>
</div>