<div class = "subject-index">

	<h1 class = "center">Wszystkie kursy</h1>

	<div class="subject-scope-options">
	<!-- TODO: Move to helper and disable active option -->
	<!-- TODO: Use request params, not separate actions -->
		<%= link_to "Popularne", 
								subjects_path(params: {order: "popular"}), 
								remote: true %> / 
		<%= link_to "Najnowsze", 
								subjects_path(params: {order: "recent"}), 
								remote: true %>
	</div>

	<div class = "subject-catalog">
		<%= render @subjects %>
	</div>
</div>