<h1 class = "center">Wszystkie kursy</h1>

<div class="subject-scope-options">
	<!-- TODO: Add link_to & AJAX request -->
	<a href='#'  id = "subjects_most_recent">Najnowsze</a> / 
	<a href='#'  id = "subjects_most_popular">Najbardzie popularne</a>
</div>

<div class = "subject-index">
	<%= render @subjects %>
</div>