<h1>
	<%= @subject.name %>	
</h1>
<section class="description">
	<h2>Opis przedmiotu </h2>
	<%= @subject.description %>
</section>

<section class="lessons">
	<h2>Lekcje</h2>
	<%= render @lessons %>
</section>