<li class = "lesson" id = <%= "lesson-#{lesson.id}" %>>
	<%= link_to lesson.name, 
										subject_path(	lesson.subject, 
																	params: {lesson_id: lesson.id}) %>

  <ul>
    <%= render lesson.videos %>
  </ul>
	
	<%= image_tag lesson.thumbnail %>
</li>