<li>
	<h2><%= link_to lesson.name, lesson %></h2>
	<!-- <div class = "lesson-video-container">
		<iframe class = "lesson-video" 
						src = <%= lesson.embed_link %> 
						allowfullscreen>
		</iframe>
	</div> -->
	<%= image_tag lesson.video_thumbnail %>
</li>