@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,latin-ext);

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=latin,latin-ext);

$primary: #eb8a45;
$secondary: #008F9C;

$text-color: #575757;

$header-bg: #2C3B4B;
$header-height: 4rem;

/* ******* */
/* GENERAL */
/* ******* */

.params-debug {
  margin-top: 5em;
  border: 1px solid #1D1D1D;
}

.center {
  text-align: center;
}


body {
  color: $text-color;
  background: #E5EBEC;
}

a.active {
  color: darken($text-color, 10%)
}

a {
  color: $secondary;
}

html, body, ul, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

input {
  border: 0;
}


h1 {
  margin-bottom: 2rem;
  font-size: 2.5em;
}
.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.page-content {
  text-align: center;
}

/* *************** */
/* COMMON ELEMENTS */
/* *************** */

#page-header {
  

  background: $header-bg;
  color: #fff;
  height: $header-height;
  margin-bottom: 2em;

  a {
    color: inherit;
    text-decoration: none;

    transition: 0.2s;

    &:hover {
      color: darken(#fff, 25%);
    }
  } 

  ul {
    list-style: none;
  }

  li {
    display: inline;
    margin: 0 0.7rem;

    &:last-child {
      margin-right: 0;
    }
  }

  #logo {
    line-height: $header-height;
    display: block;
    float: left;

    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: 400;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  nav {
    display: inline;
    text-align: right;
    line-height: $header-height;

    font-size: 0.9rem;
  }
}

/* ******* */
/* BUTTONS */ 
/* ******* */

.button {
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  width: 12rem;
  border: 0;
  border-radius: 3px;


  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 0.85rem;

  transition: 0.3s;

  cursor: pointer;
}
.button-primary {
  background: $primary;
  border-bottom: 5px solid darken($primary, 12%);

  &:hover {
    background: darken($primary, 5%);
  }
}
.button-secondary {
  background: $secondary;
  border-bottom: 5px solid darken($secondary, 12%);

  &:hover {
    background: darken($secondary, 5%);
  }
}

.custom-form {
  width: 40%;
  margin: 0 auto;

  label {
    margin-bottom: 1.5em;
  }
  .input{
    position: relative;

    .error {
      position: absolute;
      right: -1em;
      top: 0;
      text-align: right;

      font-size: 0.9em;
      color: rgba(253, 30, 0, 1);
    }
  }

  input:not([type="checkbox"]), textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 3px;
    color: #575757;
    padding: 0 0.5em;
    line-height: 1.5em;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    height: 2.5em;
    border: 1px solid #575757;
  }
  textarea {
    height: 10em;
    padding: 0.25em 0.5em;
    border: 1px solid #575757;
  }

  input[type="submit"] {
    width: 50%;
    margin: 0.5em auto;
    display: block;
    color: #fff;
    height: 2.5em;
  }
}


// TODO: http://tympanus.net/Development/NotificationStyles/bar-slidetop.html for ajax reponses

.alert {
  padding: 1.5em 2em;
  position: fixed;
  right: 2em;
  top: -4rem; 
  width: 20rem;
  z-index: 100;

  background: rgba(233, 227, 85, 1);
  
  .close-div {
    width: 1em;
    height: 1em;
    display: block;
    float: right;
    cursor: pointer;
  }
}
.alert-success, .alert-notice {
  //background: rgba(101, 238, 94, 0.35);
  //border: 1px solid darken(rgba(101, 238, 94, 0.35), 10%);
}
.alert-error {
  //background: rgba(253, 30, 0, 0.28);
  //border: 1px solid rgba(206, 79, 61, 0.15)
}
.alert-warning {
  //background: rgba(248, 236, 141, 0.73);
  //border: 1px solid darken(rgba(248, 236, 141, 0.73), 10%);
}


.subject {
  background: #fff;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  
  box-shadow: 0px 0px 1px #797979;
  border-radius: 3px;

  position: relative;
  padding-bottom: 4em;
  

  img {
    height: 200px;
  }

  h2, img {
    margin-bottom: 0.75em;
  }

  .button {
    margin: 0 auto;
    position: absolute;

    width: 80%;
    height: 2em;
    line-height: 2em;

    left: 10%;
    bottom: 1em;
    color: #fff !important;
  }
    
}


.devise-links {
  margin-top: 2.5em;
  font-size: 0.95em;
}


table.primary-table {

    border-collapse: collapse;
    border: 1px solid #c5c5c5;

    line-height: 2.5em;

    thead {
      background: #eb8a45;
      color: #fff;
      padding: 1em;

      tr {
        background: inherit;
      }
    } 

    th {
      font-weight: normal;

      
      a { 
        color: inherit;
        text-decoration: none;
      }
      // TODO: Change the images later
      .current {
        background-repeat: no-repeat;
        background-position: right center;
        padding: 20px
      }
      .asc {
         background-image: image-url("sortable_tables/up.png");
      }
      .desc {
         background-image: image-url("sortable_tables/down.png");
      }

    }

    tr {
      border: 1px solid #c5c5c5;
      background: #E6E6E6;

      &:nth-child(even) {
        background: #D8D8D8;
      }
    }

    td, th {
      padding: 0 1.5em;
    }
  }

