// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.subject-index {
	text-align: center;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.subject {
		box-sizing: border-box;
		width: 31.5%;
		margin-bottom: 2em;

		border: 0;

		.description {
			margin-bottom: 1em;
		}

		img {
			height: 200px;
		}
	}
}