// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index {
  table {

    border-collapse: collapse;
    border: 1px solid #c5c5c5;

    line-height: 2.5em;

    thead {
      background: #eb8a45;
      color: #fff;
      padding: 1em;

      tr {
        background: inherit;
      }
    } 

    th {
      font-weight: normal;

      
      a { 
        color: inherit;
        text-decoration: none;
      }
      // TODO: Change the images later
      .current {
        background-repeat: no-repeat;
        background-position: right center;
        padding: 20px
      }
      .asc {
         background-image: image-url("sortable_tables/up.png");
      }
      .desc {
         background-image: image-url("sortable_tables/down.png");
      }

    }

    tr {
      border: 1px solid #c5c5c5;
      background: #E6E6E6;

      &:nth-child(even) {
        background: #D8D8D8;
      }
    }

    td, th {
      padding: 0 1.5em;
    }
  }

  .search {
    margin-bottom: 2em;
    
    input {
      height: 2.5em;
      line-height: 2.5em;
      margin-bottom: .5em;
    }

    input[type="search"] {
      width: 20em;
    }
  }
}
