// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index {
  

  .search {
    margin-bottom: 2em;
    
    input {
      height: 2.5em;
      line-height: 2.5em;
      margin-bottom: .5em;
    }

    input[type="search"] {
      width: 20em;
    }
  }
}
