<p>Witaj <%= @resource.email %>!</p>

<p>Jeśli użyłeś opcji przypomnienia hasła, możesz to zrobić używając poniższego linku: </p>

<p><%= link_to 'Zresetuj hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie prosiłeś o nowe hasło, zignoruj tę wiadomość.</p>
