<% provide :title, "Edytuj film" %>

<section class="admin-panel">
  <h2><%= @subject %> > <%= @lesson %></h2>
  <h1>Edytuj film</h1>


  <div>
    <%= render 'admin/videos/video_form' %>
  </div>
</section>