<% provide :title, "Dodaj film" %>

<section class="admin-panel">
  
  <h2><%= @subject %> > <%= @lesson %></h2>
  <h1>Dodaj film</h1>

  <div>
    <%= render 'admin/videos/new_video_form' %>
  </div>
</section>