<aside class="admin-sidebar">
  <h2>Nawigacja</h2>
  <ul>
    <li><%= link_to "Strona główna", admin_path %></li>
    <li><%= link_to "Przedmioty", '#' %></li>
    <li><%= link_to "Użytkownicy", admin_users_path %></li>
    <li><%= link_to "Powrót do witryny", root_path %></li>
  </ul>
</aside>