<header>
	<div id="logo"><%= link_to "ePUEPS", '#' %></div>

	<nav id="main-menu">
		<ul>
			<li><%= link_to "Wszystkie kusy", '#' %></li>
			<li><%= link_to "O ePUPS", '#' %></li>
			<li><%= link_to "Zaloguj się", '#' %></li>
		</ul>
	</nav>
</header>